/*
** Gridbased layout
*/
@import url(modules.less);
@import url(grid-helpers.less);


/**
 * Magic number for vertical rythm
 * @magicNumber = @fontSizeBody * @lineHeight
 */

@magicNumber: 24px;

@fontSizeBody:  16px;
@fontSizeBody:  16px;
@lineHeight:    (unit(@magicNumber) / unit(@fontSizeBody));

/**
 * Default font-families
 */
@fontFamilyHeadings:  @fontFamilyCambria;
@fontFamilyBody:      @fontFamilyCalibri;
@fontFamilyCode:      @fontFamilyCourier;



html {
  background-image: url(../img/background2.png);
  background-repeat: repeat-x center;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.inner-wrap {
  .grid(960px);
  //.showGrid(900px);


}


.row {
  .row();
}

.outer-wrap-header,
.outer-wrap-main,
.footer-column-wrapper {
  margin-bottom: @magicNumber;
}

.footer-column-wrapper {
  .clearfix();
}

.logo-1 {
  position: absolute;
  left: -150px;
  top: 100px;
}
.flash-wrap img {
  .column(12);
}

.site-logo-text {
  .column(2);

}


.navbar2 {
  .column(10);
  font-size: 0.7em
}

.main {
  .column(10);
  .push();
}

.footer-column {
  .column(4);
  text-align: justify;
}

.site-footer {
  .column(12);
  text-align: center;
  ul {
    list-style-type: none;
  }


}
.outer-wrap-main {
  .column(12)
}
.toc {
  .column(1);
}
.has-sidebar main{
  .column(10);

}
main {
  min-height: 400px;
}
.bylineBlock img {
  float: left;
  margin-right: 15px;
}



/** --------------------------------------------------------------
 *  Link
 */

a {
  text-decoration: none;
}
a:link {color: #9c9;}

/*visited link */
a:visited{ color: red;}

a:hover{
  color: #FED1D1;
}
a:active{ color: #00f;}



/** --------------------------------------------------------------
 *  grid-page
 */

 .route-grid  .inner-wrap {
   .showGrid(900px);
 }

/*.route-analysis-kmom01 .inner-wrap {
  .showGrid(900px);
}*/

 .route-grid .main {
   background-color: green;
   opacity: 0.5
 }


 .route-grid .footer-column {
   background-color: brown;
   opacity: 0.5;
 }

 .route-grid .site-footer {
   background-color: blue;
   opacity: 0.5;
   color : white;
   text-align: center;
   a {
     color: yellow;

   }
 }

/** ------------------------------------------------------------------
* Typografi
*/

.inner-wrap {
  .font();
  .typographyHeadings();
  .typographyTextElements();
  .typographyCodeElements();
  .typographyListElements();
  .typographyTableElements();
  .typographyOtherElements();
}

.route-typografi .inner-wrap {
  background-image: url(../img/horisontal-grid-24.png);
}

/** ------------------------------------------------------
 * Regions, basics to show off the regions.
 */
.wrap-all {
    margin: 0 auto;
    max-width: 950px;
}


.next-previous {
    .next,
    .previous {
        width: 50%;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.breadcrumb {
    margin-bottom: 22px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }
}

.site-header {
    position: relative;
}


/** --------------------------------------------------------------
 *  header
 */
.site-header {
  height: 90px;

}


.site-logo-text {
  float: left;
  width: 30%;
}
.navbar2, {
  float: left;
  width: 40%;
}

.site-logo-text {
    font-size: 1.5em;
    a {
        text-decoration: none;
        color: green;
    }
}
.site-logo-text:hover {
  text-shadow: 1px 1px 1px ;
}

//navbar style
.rm-desktop li {
  background-color: #eee;
  color: green;
}
.rm-desktop li:hover {
  color: white;
  background-color: green;
}

//navbar max
.rm-max .rm-small .rm-button {
  font-size: 1.5em
}



/**----------------------------------
* Auther
*/
.inner-wrap ul {
  list-style: none;
}

.wrap-all {
  background-color: white;
}
.logo-1 {
  display: none;
}

/**--------------------------------------
* specifikationer för alla tema
*/

//base
.base-a {
  background-color: white;
}
.base-b {
  background-color: green;
}
.base-c {
  background-color: red;
}


//light
.light-a {
  background-color: white;
}
.light-b {
  background-color: black;
}
.light-c {
  background-color: red;
}

//color
.color-a {
  background-color: rgb(174, 224, 230);
}
.color-b {
  background-color: rgb(183, 238, 244);
}
.color-c {
  background-color: rgb(138, 199, 206);
}
.color-d {
  background-color: green;
}
.color-e {
  background-color: red;
}


//dark
.dark-a {
  background-color: black;
}
.dark-b {
  background-color: rgb(53, 50, 50);
}
.dark-c {
  background-color: white;
}

//colorful
.colorful-a {
  background-color: rgb(254, 213, 217);
}
.colorful-b {
  background-color: rgb(255, 171, 2);
}
.colorful-c {
  background-color: rgb(245, 128, 0);
}
.colorful-d {
  background-color: black;
}
.colorful-e {
  background-color: rgb(253, 252, 232);
}


//typo
.typo-a {
  background-color: black;
}
.typo-b {
  background-color: white;
}
.typo-c {
  background-color: green;
}


/**--------------------------------------
* colorscheme
*/


.box {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  display: inline-block;
  margin-left: 5px
}

//Paris-saint-germain
.paris-a {
  background-color: rgb(19, 25, 41);
}
.paris-b {
  background-color: white;
}
.paris-c {
  background-color: rgb(230, 230, 230);
}
.paris-d {
  background-color: rgb(255, 44, 84);
}


//cia
.cia-a {
  background-color: rgb(67, 90, 132);
}
.cia-b {
  background-color: rgb(23, 46, 83);
}
.cia-c {
  background-color: rgb(255, 255, 255);
}
.cia-d {
  background-color: rgb(214, 222, 234);
}

//united
.united-a {
  background-color: black;
}
.united-b {
  background-color: rgb(227, 19, 36);
}
.united-c {
  background-color: rgb(242, 242, 242);
}
.united-d {
  background-color: rgb(238, 238, 238);
}
.united-e {
  background-color: white;
}


//resto
.resto-a {
  background-color: black;
}
.resto-b {
  background-color: white;
}
.resto-c {
  background-color: rgb(164, 98, 0);
}


/** --------------------------------------------------------------
 *  responsive design
 */
 img {
   max-width: 100%;
 }
 @media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 1360px) {
   .logo-1 {
       //width: 100%;
       display: none
   }
}


@media screen and (max-width: 700px) {
   .sidebar, .logo-1 {
       //width: 100%;
       display: none
   }
}

@media screen and (max-width: 700px) {
   .footer-column {
       width: 100%;
   }
}


 @media screen and (max-width: 560px) {

   .site-logo-text {
       width: 90%;
   }
    .navbar2 {
        display: none;
    }
}
