/**
* Anax Flat theme.
*/
@import url(modules.less);


/** --------------------------------------------------------------
 *  header
 */
.site-header {
  height: 90px;
}


.site-logo-text, .profile {
  float: left;
  width: 30%;
}
.navbar2, {
  float: left;
  width: 60%;
}


.site-logo-text {
    font-size: 1.5em;
    a {
        text-decoration: none;
        color: green;
    }
}
.site-logo-text:hover {
  text-shadow: 1px 1px 1px ;
}

//navbar style
.rm-desktop li {
  background-color: #eee;
  color: green;
}
.rm-desktop li:hover {
  color: white;
  background-color: green;
}

//navbar max
.rm-max .rm-small .rm-button {
  font-size: 1.5em
}

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}


/** --------------------------------------------------------------
 *  by line
 */

.byline {
  width: 700px;
  border: 1px solid green;
  margin: 10px; padding: 10px;
}


/** --------------------------------------------------------------
 *  Link
 */

a {
  text-decoration: none;
}
a:link {color: #9c9;}

/*visited link */
a:visited{ color: red;}

a:hover{
  color: #FED1D1;
}
a:active{ color: #00f;}


/** ------------------------------------------------------
 * Regions, basics to show off the regions.
 */

 .wrap-all {
     margin: 0 auto;
     max-width: 950px;
 }

 .footer-column {
     float: left;
     width: 33%;
 }

 .footer-column-wrapper {
     overflow: auto;
 }

 .sidebar {
     width: 33%;
     float: left;
 }

 .main .has-sidebar {
     width: 67%;
     float: left;
 }

 .outer-wrap-footer {
     clear: both;
     margin-bottom: 22px;
 }

 .site-footer {
     text-align: center;

     ul {
         margin: 0;
         padding: 0;
         list-type: none;
     }

     li {
         display: inline;
     }
 }

 .footer-column {
     ul {
         margin: 0;
         padding: 1em;
         list-style-type: circle;
     }
 }

 .next-previous {
     .next,
     .previous {
         width: 50%;
     }

     .next {
         float: right;
         text-align: right;
     }
 }

 .breadcrumb {
     margin-bottom: 22px;

     ul {
         margin: 0;
         padding: 0;
         list-style-type: none;
     }

     li {
         display: inline;

         &::after {
             content: " » ";
         }
     }
 }

 .site-header {
     position: relative;
 }






/** --------------------------------------------------------------
 *  responsive design
 */
 img {
   max-width: 100%;
 }
 @media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 780px) {
   .navbar2 {
       //width: 100%;
       //display: none;
       //float: left;
      font-size: 0.7em;
   }
}

@media screen and (max-width: 700px) {
   .sidebar {
       //width: 100%;
       display: none
   }
}

@media screen and (max-width: 700px) {
   .footer-column {
       width: 100%;
   }
}


 @media screen and (max-width: 560px) {

   .site-logo-text {
       width: 100%;
       
   }
    .navbar2 {
        display: none;
    }
}
